.header{
  line-height: 200px;
  text-align: center;
  background-color: aqua;
  border-style: outset;
  border-width: fill;
  border-color: burlywood;  
}
.navigate{
  background-color: #444;
  text-align: end;
  text-decoration: none;
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: aliceblue;
  background-color: #4e085f;
  margin-right: 20px;
}
footer{
  text-align: center;
  padding: 20px 0;
  background-color: #444;
  
}